
<ul class="grid gap-x-9 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
    <app-pokemon-list-item class="w-fit"
    *ngFor="let poke of pokemon" 
    [pokemon]="poke"
    [onCat]="onCat">
    </app-pokemon-list-item>
</ul>