
<li *ngIf="pokemon" class="bg-yellow-100 relative border m-2 px-2 pt-2 rounded-xl items-center ">
    <span class="font-bold ml-3">{{ pokemon.name }}</span>
    <section class="flex flex-row justify-between">
    <img [src]="pokemon.url" [alt]="pokemon.name" width="110" height="110" class="mb-2">
    <span *ngIf="onCat; then eevee else feelee"></span>
    <ng-template #eevee>
            <app-catch-pokemon-button [pokemonId]="pokemon.id" class="h-fit m-2 mr-6"></app-catch-pokemon-button>
    </ng-template>
    <ng-template #feelee>
        <app-release-pokemon-button [pokemonId]="pokemon.id" class="h-fit m-2 mr-6"></app-release-pokemon-button>
    </ng-template>
    </section>
</li>
