<nav class="z-10 bg-blue-600 flex justify-between mb-2 items-center p-4 w-full sticky top-0">
    <h1 class="font-bold text-3xl text-yellow-400" id="app-title">
        Pokémon Trainer
    </h1>
    <ng-container *ngIf="user !== undefined">
    <ul class="flex">
        <li class="px-4 text-white"><a routerLink="/profile" >Profile</a></li>
        <li class="px-4 text-white"><a routerLink="/pokemon">Pokemon</a></li>
        <li class="px-4 text-white"><a (click)="logout()" routerLink="">Logout</a></li>
    </ul>
    </ng-container>
</nav>

