<main class="container mx-auto px-4">
    <h1 class="flex justify-center mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl dark:text-white capitalize">{{trainer.username }}'s Pokemon Collection</h1>
    <app-pokemon-list [pokemon]="collection"></app-pokemon-list>
</main>