<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="mb-3">
        <label for="username" class="block">Name of the trainer</label>
        <input type="text" name="username" id="username" 
        ngModel
        #username="ngModel"
        class="border border-slate-300 p-2 rounded w-full"
        placeholder="Andreas Hagman">
    </fieldset>

    <button type="submit" class="bg-yellow-500 p-2 rounded">Login</button>
</form>