<main class="m-2 mr-4">
    <p *ngIf="loading">The pokémon are loading ....</p>
    <h1 class="flex justify-center mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl dark:text-white capitalize">Pokemon Catalogue</h1>

    <app-pokemon-list [pokemon]="pokemon" [onCat]="onCat" class="content-center mr-2"></app-pokemon-list>

</main>